body {
  background: linear-gradient(to right, #ff9966, #ff5e62);

  font-family: Arial;
}

.login {
  background: white;

  width: 400px;

  margin: auto;

  margin-top: 50px;

  padding: 30px;

  border-radius: 10px;
}

select,
input {
  width: 100%;

  padding: 10px;

  margin-top: 10px;

  margin-bottom: 20px;
}

input[type="submit"] {
  background: #ff5e62;

  color: white;

  border: none;

  cursor: pointer;
}

input[type="submit"]:hover {
  background: #ff9966;
}
